/* Universal Styles */

html {
  font-family: "M PLUS rounded 1c", "Montserrat", sans-serif;
  font-size: 16px;
  color: #383140;
  letter-spacing: 0.005em;
}

.main-content {
  line-height: 1.6;
  position: relative;
  top: 4rem;
}

.container {
  padding: 2rem 0;
  display: flex;
  justify-content: flex-start;
  /*max-width: 60rem;*/
  margin: 0 auto;
}

.container-media {
  width: 60%;
  margin: 0 1.5rem;
}

.container-media img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-media video {
  max-width: 100%;
  height: auto;
}

.container h1 {
  font-size: 3.19rem;
  line-height: 1.2;
  font-weight: bold;
}

.container h2 {
  font-size: 2.2rem;
  font-weight: bold;
}

.container h3 {
  font-size: 1.79rem;
  font-weight: bold;
}

.container h4, p {
  font-size: 1rem;
}

.features {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-height: 100%;
}

.feature {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.feature:hover {
  background-color: white;
}

.feature-photo {
  width: 35%;
  height: auto;
  padding-right: 1rem;
}

.feature-photo img {
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.15rem;
}

.feature-info {
  width: 65%;
}

.feature:nth-child(2n+2) {
  background-color: #f4ed71;
}

.feature:nth-child(2n+1) {
  background-color: #cac7d7;
}
.feature h4 {
  padding: 0.25rem 0;
}

.feature .more {
  color: #8a8604;
}

.feature .more:hover {
  color: white
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width:1170px) {
  .container h1 {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: bold;
  }

  .container h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .container h3 {
    font-size: 1rem;
    font-weight: bold;
  }

  .container h4, p {
    font-size: .75rem;
  }

}

@media only screen and (max-width:770px) {
  .container h1 {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: bold;
  }

  .container h2 {
    font-size: 1rem;
    font-weight: bold;
  }

  .container h3 {
    font-size: 0.85rem;
    font-weight: bold;
  }

  .container h4, p {
    font-size: .75rem;
  }
}

@media only screen and (max-width:580px) {
  .container {
    padding: 0;
  }

  .container h2, .title-section h2 {
    font-size: 2.5rem;
  }
}

/* Header */

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 4rem;
  background-color: white;
  color: #383140;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 1.5rem;
  line-height: 1.6;
}

header .logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #383140;
  font-size: 1.5rem;
}

header .logo img {
  height: 2rem;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 0.5rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #383140;
  text-decoration: none;
  padding: 0.5rem;
}

nav a:hover {
  background-color: #8a8604;
  color: white;
  border-radius: 0.5rem;
}

/*header .icon {
  width: 1rem;
  padding-left: .75rem;
}*/

header .mobile {
  display: none;
}

@media only screen and (max-width: 770px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  header .logo {
    display: none;
  }

  header .navigation {
    width: 100%;
  }
  header {
    height: auto;

  }
  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
}

/* Banner */

.banner {
  background-color: #383140;
}

.banner .container {
  align-items: center;
}

.banner-text {
  max-width: 30%;
}

.banner-text h1 {
  color: #f4ed71;
}
.banner h3 {
  padding: 2rem 0;
  color: #cac7d7;
  font-weight: normal;
}

.button {
  color: white;
  display: flex;
  justify-content: flex-start;
  width: auto;
}

.button p {
  font-size: 1.4rem;
  padding: 0.5rem 4rem;
  background-color: #8a8604;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.button p:hover {
  background-color: #f4ed71;
  color: #383140;
}

.button p:active {
  background-color: white;
  color: #383140;
}

@media only screen and (max-width:1170px) {
  .button p {
    font-size: 0.65rem;
    padding: 0.5rem 2.25rem;
    background-color: #8a8604;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
}

@media only screen and (max-width:580px) {
  .banner .container {
    flex-direction: column;
    padding-top: 0;
  }
  .banner .container-media {
    width: 100%;
  }
  .banner-text {
    padding: 2rem 1rem; /*Figure out how to get this to 100% width */
    width: 95%;
    max-width: 100%;
  }
  .banner h3 {
    padding: 2rem 0 1.5rem 0;
  }
  .container h1 {
    font-size: 2.85rem;
    line-height: 1.2;
    font-weight: bold;
  }

  .container h2 {
    font-weight: bold;
  }

  .container h3 {
    font-size: 1.5rem;
    font-weight: normal;
    color: white;

  }

  .container h4, p {
    font-size: 1rem;
  }

.button {
  justify-content: center;
}
  .button p {
    font-size: 1.4rem;
    padding: 0.5rem 4rem;
    background-color: #8a8604;
    border-radius: 0.5rem;
    text-transform: uppercase;
    width: 100%;
    height: auto;
    text-align: center;
  }
}
/* Information */

.information h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: #8a8604;
}

.testimonial {
  padding-right: 5rem;
}
.caption {
  padding-top: 2rem;
  color: #8a8604;
}

.feature-photo-mobile {
  display: none;
}

@media only screen and (max-width:770px) {
  .information h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .caption {
    padding-top: 1rem;
  }
}

@media only screen and (max-width:580px) {
  .information {
    margin
  }

  .information .container-media {
    display: none;
  }

  .information .features {
    width: 100%;
  }

  .information .feature {
    flex-direction: column;
  }

  .feature-photo {
    width: 100%;
    padding-right: 0;
  }

  .feature-photo-web {
    display: none;
  }

  .feature-photo-mobile {
    display: block;
  }

  .feature-info {
    width: 100%;
    padding-left: 1rem;
  }

}
/* Courses */

.courses {
  background-color: #f4ed71;
  padding: 2rem 0;
}

.course {
  background-color: white;
  margin: 0 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  width: 27%;
  margin-bottom: 2rem;
  border-radius: 0.15rem;
}

.course img {
  width: 100%;
  height: auto;
}

.course h3 {
  font-size: 1.79rem;
}

.course-title {
  color: black;
}

.course-title a:nth-child(2n+1) {
  color: white;
}
.course-offerings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.course-info {
  margin: 1rem 6rem 1.5rem 1rem;
}

.course-list:nth-child(2n+2) {
  color: #383140;
}

.course-list:nth-child(2n+1) {
  color: #f4ed71;
}

.course-title:nth-child(2n+1) {
  color: white;
}

.course:nth-child(2n+2) {
  background-color: #8a8604;
}

.course:nth-child(2n+1) {
  background-color: #383140;
  color: #cac7d7;
}
.course p {
  padding-bottom: 0.5rem;
}

.course h4 {
  padding: 0.5rem 0;
}

@media only screen and (max-width:1170px) {
  .course h3 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width:970px) {
  .course-info {
    margin: 1rem 1.5rem;
  }
  .course {
    margin: 0 0.5rem 1rem 0.5rem;
  }
  .course h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width:770px) {
  .course-info {
    margin: 0.5rem 1rem;
  }
  .course {
    margin: 0 0.5rem 1rem 0.5rem;
  }
}

@media only screen and (max-width:580px) {
  .course-offerings {
    margin-top: 2rem;
    width: 100%;
  }

  .course {
    background-color: white;
    padding: 1rem 1rem 1.5rem 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .course-image {
    display: none;
  }

  .course-info p, .course-list {
    display: none;
  }

  .course-info {
    margin: 0;
  }
  .course-title a {
    font-size: 2rem;
  }

  .course-title {
    text-align: left;
  }
}

/* Thesis */

#thesis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thesis-info .container-media h3 {
  padding: 1.5rem 0 0.5rem 0;
  color: #8a8604;
}
.thesis-info {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
}

@media only screen and (max-width:580px) {
  #thesis {
    padding: 2rem 0 1.5rem 0;
  }

  #thesis .features {
    display: none;
  }

  .thesis-info .container-media h3, p {
    display: none;
  }

.thesis-info {
  padding-bottom: 0;
}
  .thesis-info .container-media {
    width: 100%;
    margin: 0;
  }
}
/* Footer */

footer {
  border-top: 1px solid #d9d9d9;
  position: relative;
  top: 4rem;
  background-color: #383140;
}

footer .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  font-size: 0.65rem;
  color: white;
}

footer ul li {
  display: inline;
  padding-left: 0.85rem;
}

@media only screen and (max-width:580px) {
  footer {
    background-color: white;
    border-top: none;

  }

  footer .content {
    color: black;
    font-size: 1rem;
  }

  footer ul {
    display: none;
  }
}
