/* Universal Styles */

html {
  font-family: "M PLUS rounded 1c", "Montserrat", sans-serif;
  font-size: 16px;
  color: #383140;
  letter-spacing: 0.005em;
}

.main-content {
  line-height: 1.6;
  position: relative;
  top: 4rem;
}

.container {
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: flex-start;
  /*max-width: 60rem;*/
  margin: 0 auto;
}

.container-media {
  width: 60%;
  margin-right: 1.5rem;
}

.container-media img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-media video {
  max-width: 100%;
  height: auto;
}

.container h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: bold;
}

.container h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.container h2 {
  font-size: 1.85rem;
  font-weight: bold;
}

.container h4, p {
  font-size: 1rem;
}

.features {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-height: 100%;
}

.feature {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.feature-photo {
  width: 35%;
  height: auto;
  padding-right: 1rem;
}

.feature-photo img {
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature-info {
  width: 65%;
}

.feature:nth-child(2n+2) {
  background-color: #f4ed71;
}

.feature:nth-child(2n+1) {
  background-color: #cac7d7;
}
.feature h4 {
  padding: 0.5rem 0;
}

.feature .more {
  color: #8a8604;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 4rem;
  background-color: white;
  color: #383140;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 1.5rem;
  line-height: 1.6;
}

header .logo {
  flex: 1;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #383140;
}

header .logo img {
  height: 2rem;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #383140;
  text-decoration: none;
}

/*header .icon {
  width: 1rem;
  padding-left: .75rem;
}*/

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  header .logo {
    display: none;
  }

  header .navigation {
    width: 100%;
  }
  header {
    height: auto;
  }
  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
}

/* Banner */

.banner {
  background-color: #383140;
}

.banner .container {
  align-items: center;
}

.banner-text {
  max-width: 30%;
}

.banner-text h1 {
  color: #f4ed71;
}
.banner h3 {
  padding: 2rem 0;
  color: #cac7d7;
  font-weight: normal;
}

.banner .button {
  width: 100%;
background-color: #8a8604;
 color: #f4ed71;
  padding: 0.5rem 0;
display: flex;
justify-content: center;
}

/* Information */

.information h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: #8a8604;
}

.caption {
  padding-top: 2rem;
  color: #8a8604;
}

/* Courses */

.courses {
  background-color: #f4ed71;
  padding: 2rem 0;
}

.course {
  background-color: white;
margin: 0 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  width: 27%;
  margin-bottom: 2rem; /*Figure out how to make all courses same height */
}

.course img {
  width: 100%;
  height: auto;
}

.course-offerings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.course-info {
  margin: 1rem 6rem 1.5rem 1rem;
}

.course-list:nth-child(2n+2) {
  color: #8a8604;
}

.course-list:nth-child(2n+1) {
  color: #f4ed71;
}

.course:nth-child(2n+2) {
  background-color: #cac7d7;
}

.course:nth-child(2n+1) {
  background-color: #383140;
  color: #cac7d7;
}
.course p {
  padding-bottom: 0.5rem;
}

.course h4 {
  padding: 0.5rem 0;
}

#thesis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thesis-info .container-media h3 {
  padding: 1.5rem 0 0.5rem 0;
  color: #8a8604;
}
.thesis-info {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
}


/* Footer */

footer {
  border-top: 1px solid #d9d9d9;
  position: relative;
  top: 4rem;
}

footer .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  font-size: 0.65rem;
}

footer ul li {
  display: inline;
  padding-left: 0.85rem;
}
