html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #4a4a4a;
}

.main-content {
  line-height: 1.6;

}
.container {
  padding: 2rem 1.5rem;
  display: flex;
  /*align-items: center;*/
  justify-content: flex-start;
  max-width: 60rem;
  margin: 0 auto;
}

.container-image {
  width: 60%;
}
.container-image img {      /*Figure out how to get image to span the whole 60%*/
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container h1 {
  font-size: 2.35rem;
  line-height: 1.2;
  font-weight: bold;
}

.container h3 {
  font-size: 1rem;
  font-weight: bold;
}

.container h2 {
  font-size: 1.85rem;
  font-weight: bold;
}
.container h4, p {
  font-size: 0.65rem;
}

.features {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-height: 100%;
  padding-left: 0.5rem;
}

.feature {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.feature-photo {
  width: 35%;
  height: auto;
  padding-right: 1rem;
}

.feature-photo img {
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature-info {
  width: 65%;
}

.feature h4 {
  padding: 0.5rem 0;
}

.feature .more {
  color: blue;
}
/* Header */

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 4rem;
  background-color: white;

}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 1.5rem;
  line-height: 1.6;
}

header .logo {
  flex: 1;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

header .logo img {
  height: 2rem;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
  text-decoration: none;
}

/*header .icon {
  width: 1rem;
  padding-left: .75rem;
}*/

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  header .logo {
    display: none;
  }

  header .navigation {
    width: 100%;
  }
  header {
    height: auto;
  }
  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
}

/* Banner */

.banner {
  position: relative;
  top: 4rem;
  background-color: #d9d9d9
;
}

.banner .container {
  align-items: center;
}
.banner-text {
  width: 35%;
  margin-left: 1.5rem;
}

.banner h3 {
  padding: 2rem 0;
}

.banner .button {
  width: 100%;
  background-color: dimgrey;
  color: lightgray;
  padding: 0.5rem 0;
display: flex;
justify-content: center;
}

/* Information */

.information {
  position: relative;
  top: 4rem;  /*Figure out how to line up sections without needing this */
}

.information h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.caption {
  padding-top: 2rem;
}

#orientation {
  padding-top: 0;
}

/* Courses */

.courses {
  background-color: #d9d9d9;
  position: relative;
  top: 4rem;
}
#courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
}

.course {
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  width: 16.67rem;
}

.course img {
  max-width: 100%;
}

.course-offerings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
}

#design, #marketing {
  padding-right: 0;
}
